/* General body styles */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4;
    color: #333; */
    margin: 0;
    padding: 20px;
    background-color: #01012b;
}

.loginRegBg {
    /* background-color: red; */
   
}

.borderHeader {
    height: 100px;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
  }
  

.inputStyle {
    background-color:#d1f7ff;
    color: #005678;
    font-family: Arial, sans-serif;
}

.bottomText {
    color: #d1f7ff;
    font-family: Arial, sans-serif;
}

/* 
palette: 
#ff2a6d
#d1f7ff
#05d9e8
#005678
#01012b
*/

.welcomeMsg{
    color: #ff2a6d;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.indexHeader {
    color: #05d9e8;
}

#calories-table, #workouts-table {
    background-color: #01012b;
    color: #05d9e8;
}
#total-calories {
    color: #ff2a6d;
}

h1 {
    color: #d1f7ff;
    text-align: center;
    /* border: 3px double #ff2a6d; */
    text-shadow: 2px 0 #05d9e8, -2px 0 #05d9e8, 0 2px #05d9e8, 0 -2px #05d9e8,
               1px 1px #05d9e8, -1px -1px #05d9e8, 1px -1px #05d9e8, -1px 1px #05d9e8;
    background: #005678;
    letter-spacing: 3px;
    margin: auto 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #005678;

}

h3 {
    text-align: center;
}

/* Form styling */
form {
    background: #05d9e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    color: #005678;
    opacity: 90%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* includes padding and border in element's width */
}



.delEditForm {
    padding: 0;
    margin: 0;
    width: 0;
    height: 20px; 
    
}

button:hover {
    background-color: #005678;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #005678;
}

th {
    background-color: #005678;
}

/* Utility classes */
.hidden {
    display: none;
}

.center {
    text-align: center;
}

/* Links */
a {
    color: #ff2a6d;
}

a:hover {
    text-decoration: underline;
}

/* Messages and popups */
#message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #d6e9c6;
}

#popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: none; /* Hidden by default */
}

.spacer {
    height: 30px;
}

.delEditButton{
    border-radius: 8px;
    height: 30px;
    margin: auto 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff2a6d;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #05d9e8;
    color: #d1f7ff;
    width: 70px;
}

.addButtons {
    width: 100%;
    padding: 20px;
    margin: auto 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff2a6d;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #05d9e8;
    color: #d1f7ff;
  }
  
.loginRegButton {
    width: 100%;
    padding: 10px;
    margin: auto 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff2a6d;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #05d9e8;
    color: #d1f7ff;
}















  /* animated background end. Sourced from wweb.dev*/
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #01012b;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #005678;
    top: 90%;
    left: 51%;
    animation-duration: 52s;
    animation-delay: -28s;
    transform-origin: 25vw -14vh;
    box-shadow: -40vmin 0 5.937669782038676vmin currentColor;
}
.background span:nth-child(1) {
    color: #005678;
    top: 7%;
    left: 91%;
    animation-duration: 48s;
    animation-delay: -45s;
    transform-origin: -16vw -24vh;
    box-shadow: 40vmin 0 5.186128105568896vmin currentColor;
}
.background span:nth-child(2) {
    color: #d1f7ff;
    top: 48%;
    left: 62%;
    animation-duration: 26s;
    animation-delay: -12s;
    transform-origin: -10vw 9vh;
    box-shadow: 40vmin 0 5.286664856655762vmin currentColor;
}
.background span:nth-child(3) {
    color: #005678;
    top: 48%;
    left: 36%;
    animation-duration: 20s;
    animation-delay: -2s;
    transform-origin: 7vw -4vh;
    box-shadow: 40vmin 0 5.358805124781661vmin currentColor;
}
.background span:nth-child(4) {
    color: #05d9e8;
    top: 3%;
    left: 59%;
    animation-duration: 50s;
    animation-delay: -4s;
    transform-origin: 21vw -3vh;
    box-shadow: 40vmin 0 5.23075793613288vmin currentColor;
}
.background span:nth-child(5) {
    color: #d1f7ff;
    top: 2%;
    left: 57%;
    animation-duration: 44s;
    animation-delay: -34s;
    transform-origin: -23vw 17vh;
    box-shadow: -40vmin 0 5.714090537608192vmin currentColor;
}
.background span:nth-child(6) {
    color: #d1f7ff;
    top: 54%;
    left: 14%;
    animation-duration: 12s;
    animation-delay: -10s;
    transform-origin: 0vw 3vh;
    box-shadow: 40vmin 0 5.138553305947154vmin currentColor;
}
.background span:nth-child(7) {
    color: #005678;
    top: 54%;
    left: 25%;
    animation-duration: 18s;
    animation-delay: -47s;
    transform-origin: -10vw -19vh;
    box-shadow: 40vmin 0 5.4554721798483365vmin currentColor;
}
.background span:nth-child(8) {
    color: #05d9e8;
    top: 87%;
    left: 89%;
    animation-duration: 37s;
    animation-delay: -23s;
    transform-origin: 12vw -1vh;
    box-shadow: 40vmin 0 5.245486632276065vmin currentColor;
}
.background span:nth-child(9) {
    color: #d1f7ff;
    top: 75%;
    left: 7%;
    animation-duration: 7s;
    animation-delay: -37s;
    transform-origin: -12vw 5vh;
    box-shadow: 40vmin 0 5.400775991236527vmin currentColor;
}
.background span:nth-child(10) {
    color: #05d9e8;
    top: 81%;
    left: 75%;
    animation-duration: 27s;
    animation-delay: -2s;
    transform-origin: -2vw 0vh;
    box-shadow: 40vmin 0 5.089889113945166vmin currentColor;
}
.background span:nth-child(11) {
    color: #d1f7ff;
    top: 21%;
    left: 25%;
    animation-duration: 30s;
    animation-delay: -37s;
    transform-origin: -2vw 13vh;
    box-shadow: -40vmin 0 5.4877369022715925vmin currentColor;
}
.background span:nth-child(12) {
    color: #005678;
    top: 78%;
    left: 89%;
    animation-duration: 10s;
    animation-delay: -3s;
    transform-origin: 18vw 4vh;
    box-shadow: 40vmin 0 5.264277575530698vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff2a6c;
    top: 51%;
    left: 19%;
    animation-duration: 33s;
    animation-delay: -44s;
    transform-origin: 15vw -24vh;
    box-shadow: -40vmin 0 5.932484345109981vmin currentColor;
}
.background span:nth-child(14) {
    color: #05d9e8;
    top: 16%;
    left: 69%;
    animation-duration: 19s;
    animation-delay: -46s;
    transform-origin: -24vw -19vh;
    box-shadow: -40vmin 0 5.090257583396138vmin currentColor;
}
.background span:nth-child(15) {
    color: #05d9e8;
    top: 16%;
    left: 96%;
    animation-duration: 10s;
    animation-delay: -26s;
    transform-origin: 15vw -6vh;
    box-shadow: 40vmin 0 5.57095036278369vmin currentColor;
}
.background span:nth-child(16) {
    color: #005678;
    top: 21%;
    left: 41%;
    animation-duration: 10s;
    animation-delay: -2s;
    transform-origin: 20vw 1vh;
    box-shadow: -40vmin 0 5.612453922235271vmin currentColor;
}
.background span:nth-child(17) {
    color: #05d9e8;
    top: 51%;
    left: 13%;
    animation-duration: 6s;
    animation-delay: -21s;
    transform-origin: 0vw 20vh;
    box-shadow: 40vmin 0 5.537035878851275vmin currentColor;
}
.background span:nth-child(18) {
    color: #005678;
    top: 44%;
    left: 54%;
    animation-duration: 19s;
    animation-delay: -1s;
    transform-origin: 22vw -4vh;
    box-shadow: -40vmin 0 5.075172249385606vmin currentColor;
}
.background span:nth-child(19) {
    color: #005678;
    top: 73%;
    left: 46%;
    animation-duration: 34s;
    animation-delay: -49s;
    transform-origin: -18vw 18vh;
    box-shadow: 40vmin 0 5.107359243250622vmin currentColor;
}

  /* animated background end. Sourced from wweb.dev*/