<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
        <div class="borderHeader">
            <h1>Welcome to Calorie Tracker!</h1>
        </div>
        
        <div class="spacer"></div>
        <div class="spacer"></div>
                
        <div class="spacer"></div>
        <div class="spacer"></div>
                
        <div class="spacer"></div>
        <div class="spacer"></div>
        
        
        <form action="/register" method="post" class="loginRegBg">
            <h2>Register</h2>
            <label for="username">Username:</label>
            <input type="text" class="inputStyle" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" class="inputStyle" id="password" name="password" required>
            <br>
            <div class="spacer"></div>
            <button type="submit" class="loginRegButton">Register</button>
        </form>
        <p class="bottomText">Already have an account? <a href="/login">Login here</a></p>
   

        <div class="background">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </div>

</div>
</body>
</html>
